@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700i');
$color1: #849B99;
$color2: #B4CEB0;
$color3: #C3C7BB;
$color4: #E0EAC8;
$color5: #f2f2f2;

//clearfix
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

//grid
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

//general styling
* {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.25rem;
    background-color: $color5;
}

.column-card-list {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.column {
    flex-grow: 1;
    border: 1px solid gray;
}

.card {
    margin: 10px auto;
    display: flex;
    min-width: 150px;
    border: 1xp solid beige;
    background-color: $color2;
}

.create-column {
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-right: 5px;
    background-color: $color3;
}

.btn:hover {
    background-color: $color4;
}

.card-description {
    background-color: $color2;
}

.board h1 {
    background-color: $color1;
    text-transform: uppercase;
}
